@import "../../styles/variable.scss";

.avatar-wrapper {
  background: inherit;
  border: 3px solid $white;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba($black, 0.3);
  cursor: pointer;
  height: 45px;
  overflow: hidden;
  padding: 0;
  transition: 0.3s ease-in-out;
  width: 45px;

  img {
    height: 100%;
    width: 100%;
  }

  &:hover {
    box-shadow: 0 0 2px rgba($black, 1);
  }
}
